
.wrapper {
  padding-left: 10px;
   height: 100%;
}
.divider{
  padding: 10px;
}
.search{
  justify-content: center;
  padding: 10px;
}
#horizon{
  border-color: #dfdfdf;
  border-width: 1px;
  border-style: solid;
}