{% extends 'Student/course.html'%}
{% load static %}
{% block main %}
<a href="{% url 'course' %}"><button type="button" class="btn btn-success", style="width: 80px; margin-bottom: 10px;"><i class='bx bx-left-arrow-alt' ></i></button></a>
{% if Content != None %}
{% for item in Content %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne" >
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{item.Index}}" aria-expanded="false" aria-controls="collapse" > 
            <h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #017cad; text-align: center;" id="My-Subject">{{item.Subject}}</h1>
        </button>
    </h2>
    <div id="collapse{{item.Index}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
      <div class="accordion-body" style="padding: 10px; margin-bottom: 10px;">
          {% if item.Content == None %}
          <h1 style=" font-size: 25px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Chưa có nội dung nào</h1>
          {% else %}
           {% for data in item.Content %}
           <div class="content-material">
            <div>
              <a href="{{data.URL}}"><button type="button" class="btn btn-primary" ><i class='bx bxs-file'></i></button> {{data.Title}}</a>
            </div>
            <div>
             </div>
           </div>
           {% endfor %}
         {% endif %}
         <hr style="margin-top: 10px; margin-bottom: 10px;">
      </div> 
    </div>
  </div>
  {% endfor %}
{% else %}
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Chưa có nội dung nào</h1>
{% endif %}
<script src ="{% static 'js/content.js'%}" type="module"></script>
{% endblock %}