{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li ><a href="{% url 'student_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li><a href="{% url 'tkb' %}"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="{% url 'register_course' %}"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li class = "active" ><a href="{% url 'course' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'result' %}"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock%}

{% block main %}
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b;">Khóa Học Của Tôi</h1>
<div>
  <style>
    p {
      font-family:'Courier New', Courier, monospace;
      border: 1px solid #dfdfdf;
      border-radius: 8px;
      width: 600px;
      padding: 8px;
      background-color: #dfdfdf;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
  {% if courses != None %}
  {% for item in courses %}
  <p>
    <a style="color: #007493 ; " href="{% url 'content_student' item.Course.ID item.Class.ID%}" target="_blank">{{item.Course.Name}}({{item.Course.ID}})_{{item.Class.Teacher.Name}}_[{{item.Class.ID}}]</a>
  </p>
  {% endfor %}
{% else %}
<h3 style="text-align: center;">Không có khoá học nào</h3>
{% endif %}
</div>
{% endblock %}