{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li class = "active"><a href="#"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li><a href="#"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="#"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li><a href="#"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="#"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock%}

{% block main %}
<h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Trang Chủ</h1>

{% endblock %}