{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li class = "active"><a href="{% url 'student_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li><a href="{% url 'tkb' %}"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="{% url 'register_course' %}"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li><a href="{% url 'course' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'result' %}"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock%}

{% block main %}
<h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Trang chủ</h1>
<h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Xin Chào Nguyễn Đăng Khoa</h3>
<h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Thông Tin Cơ Bản</h5>
<ul>
    <li>Họ và Tên:</li>
    <li>Email:</li>
    <li>Ngày Sinh:</li>
    <li>Giới Tính:</li>
    <li>CCCD:</li>
    <li>SĐT:</li>
</ul>
<h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Thông Tin Sinh Viên</h5>
<ul>
    <li>Khoa:</li>
    <li>Ngành:</li>
    <li>Niên Khóa:</li>
    <li>MSSV:</li>
    <li>Lớp:</li>
</ul>
{% endblock %}