{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li class = "active"><a href="{% url 'student_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li><a href="{% url 'tkb' %}"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="{% url 'register_course' %}"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li><a href="{% url 'course' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'result' %}"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock%}

{% block main %}
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Trang Chủ</h1>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<h1 style=" font-size: 20px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Xin chào <span style="color: #017cad;">{{student.Name}}</span></h1>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<span style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #58585b; font-size: 22px; ">Thông Tin Cơ Bản</span>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<ul class="student-info" style="color: #58585b; padding-left: 10px; font-weight: light;">
    <li class="item-menu"> <strong style="font-weight: bold;">Họ và Tên :  </strong> {{student.Name}}</li>
    <li class="item-menu"><strong style="font-weight: bold;">Email :</strong> {{student.Email}}</li>
    <li class="item-menu"><strong style="font-weight: bold;">Ngày Sinh :</strong> {{student.Date}}</li>
</ul>
<hr style="margin-top: 10px; margin-bottom: 10px; font-weight: light;">
<span style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #58585b; font-size: 22px; ">Thông Tin sinh viên</span>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<ul class="student-info" style="color: #58585b; padding-left: 10px; font-weight: light;">
    <li class="item-menu"> <strong style="font-weight: bold;">Ngành : </strong> {{student.Major}}</li>
    <li class="item-menu"><strong style="font-weight: bold;" >Khoá :</strong> {{student.Year}}</li>
    <li class="item-menu"><strong style="font-weight: bold;">MSSV :</strong> {{student.ID}}</li>
</ul>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<span style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #58585b; font-size: 22px; ">Kết quả học tập</span>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<ul class="student-info" style="color: #58585b; padding-left: 10px;">
    <li class="item-menu"> <strong style="font-weight: bold;">Số tín chỉ : </strong> {{student.Credits}}</li>
    <li class="item-menu"><strong style="font-weight: bold;">Điểm trung bình tích luỹ :</strong> {{student.GPA}}</li>
</ul>
{% endblock %}