{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li><a href="{% url 'student_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li class = "active"><a href="{% url 'tkb' %}"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="{% url 'register_course' %}"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li><a href="{% url 'course' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'result' %}"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock %}
{% block main %}

<h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">Thời Khóa Biểu</h1>

<table class="table table-hover">
  <style>
    th, td {
      border: 2px solid black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  </style>
  <thead>
    <tr class="table-primary">
      <th scope="col">Mã MH</th>
      <th scope="col">Tên Môn Học</th>
      <th scope="col">Tín Chỉ</th>
      <th scope="col">Lớp</th>
      <th scope="col">Thứ</th>
      <th scope="col">Tiết</th>
      <th scope="col">Giờ</th>
      <th scope="col">Phòng</th>
      <th scope="col">Cơ sở</th>
    </tr>
  </thead>
  <tbody>
    {% if TKB != None %}
    {% for item in TKB %}
    <tr class="table-light">
      <td>{{item.Course.ID}}</td>
      <td>{{item.Course.Name}}</td>
      <td>{{item.Course.Credits}}</td>
      <td>{{item.Class.ID}}</td>
      <td>{{item.Class.Time.Period}}</td>
      <td>{{item.Class.Time.Day}}</td>
      <td>{{item.Class.Time.Start}}-{{item.Class.Time.End}}</td>
      <td>{{item.Class.Classroom.Building}}-{{item.Class.Classroom.Room}}</td>
      <td>{{item.Class.Classroom.Base}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <td colspan="9" style="text-align: center;"><strong>Không có thời khoá biểu</strong></td>
    {% endif %}
  </tbody>
</table>
<hr>
<p style="margin-bottom: 10px;">Tổng Số Môn: {{Count}}</p>
<p>Tổng Số Tín Chỉ: {{Credits}}</p>
<hr>
{% endblock %}