{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li><a href="{% url 'student_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li class = "active"><a href="{% url 'tkb' %}"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="{% url 'register_course' %}"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li><a href="{% url 'course' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'result' %}"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock %}
{% block main %}

<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Thời Khoá Biểu</h1>

<table class="table table-hover" style="border: #dfdfdf;">
  <style>
    th {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-left: 1px solid #dfdfdf;
    }
    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .data-header{
      border-left: 1px solid #dfdfdf;
    }
  </style>
  <thead>
    <tr class="table-primary">
      <th class="data-header"scope="col">Mã HP</th>
      <th class="data-header"scope="col">Học Phần</th>
      <th class="data-header" scope="col">Tín Chỉ</th>
      <th class="data-header"scope="col">Lớp</th>
      <th class="data-header" scope="col">Thứ</th>
      <th class="data-header" scope="col">Tiết</th>
      <th class="data-header" scope="col">Giờ</th>
      <th class="data-header" scope="col">Phòng</th>
      <th class="data-header" scope="col">Cơ sở</th>
    </tr>
  </thead>
  <tbody>
    {% if TKB != None %}
    {% for item in TKB %}
    <tr class="table-light">
      <td>{{item.Course.ID}}</td>
      <td>{{item.Course.Name}}</td>
      <td>{{item.Course.Credits}}</td>
      <td>{{item.Class.ID}}</td>
      <td>{{item.Class.Time.Day}}</td>
      <td>{{item.Class.Time.Period}}</td>
      <td>{{item.Class.Time.Start}}-{{item.Class.Time.End}}</td>
      <td>{{item.Class.Classroom.Building}}-{{item.Class.Classroom.Room}}</td>
      <td>{{item.Class.Classroom.Base}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <td colspan="9" style="text-align: center; height: 40px;"></td>
    {% endif %}
  </tbody>
</table>
<hr style="margin-bottom: 10px;">
<p style="margin-bottom: 10px; margin-left: 10px; color: #58585b; font-weight: light;" > <span style="font-weight: bold;">Tổng Số Môn : </span> {{Count}}</p>
<!-- <p style="margin-bottom: 10px; margin-left: 10px; color: #58585b; font-weight: light;"><span style="font-weight: bold;">Tổng Số Tín Chỉ : </span> {{Credits}}</p> -->
<hr>
{% endblock %}