{% extends 'Student/base.html' %}
{% load static %}
{% block menu %}
    <li class = "active"><a href="#"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li><a href="#"><i class='bx bxs-calendar'></i>Thời Khóa Biểu</a></li>
    <li><a href="#"><i class='bx bxs-user-account'></i>Đăng Ký Khóa Học</a></li>
    <li><a href="#"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="#"><i class='bx bxs-bar-chart-alt-2'></i>Kết Quả</a></li>
{% endblock%}

{% block main %}
<h1 style="text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;">Thời Khóa Biểu</h1>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Mã MH</th>
      <th scope="col">Tên Môn Học</th>
      <th scope="col">Tín Chỉ</th>
      <th scope="col">Lớp</th>
      <th scope="col">Thứ</th>
      <th scope="col">Tiết</th>
      <th scope="col">Giờ</th>
      <th scope="col">Phòng</th>
      <th scope="col">Tuần Học</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>

{% endblock %}