{% extends 'Manager/student.html'%}
{% block main %}
<a href="{% url 'student_views'%}"><button style= "width: 80px;"type="button" class="btn btn-secondary"><i class='bx bx-left-arrow-alt' style="color: black;"></i></button></a>
<form method="post" action="{% url 'doAddStd'%}">
  {% csrf_token %}
  <fieldset>
    <legend style="text-align: center;"><h4>Thêm sinh viên</h4></legend>
    {% if message != None %}
    <h6 style="text-align: center; color: red;">{{message}}</h6>
    {% endif %}
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Mã số sinh viên</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập vào mã số sinh viên" name="id">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Tên sinh viên</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập vào tên" name="name">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Địa chỉ email của sinh viên</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập vào email " name="email">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Ngày sinh</label>
      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="date">
    </div>
    <div>
      <label for="exampleSelect1" class="form-label mt-4">Ngành</label>
      <select class="form-select" id="exampleSelect1" name="major">
        <option>----------Chọn ngành-----------</option>
        {% for item in Major%}
        <option value="{{item}}">{{item}}</option>
        {% endfor%}
      </select>
    </div>
    <div>
      <label for="exampleSelect1" class="form-label mt-4">Năm vào</label>
      <select class="form-select" id="exampleSelect1" name="year">
        {% for item in Year%}
        <option value="{{item}}">{{item}}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="exampleInputPassword1" class="form-label mt-4">Mật khẩu</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mật khẩu" autocomplete="off" name="password">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
  </fieldset>
</form>
{% endblock %}