{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/Rsidebar.css'%}">
    <link rel="stylesheet" href="{% static 'css/homeAdmin.css'%}">
    <link rel="icon" type="images/png" href="{% static 'images/graduation-hat.png' %}">
    <title>AMS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>

    <!-- Sidebar -->
    <div class="sidebar close">
        <a href="{% url 'admin_home' %}" class="logo">
            <img src="{% static 'images/hcmut.png' %}" alt="logo">
            <div class="logo-name"><span>My</span>BK</div>
        </a>
        <ul class="side-menu">
           {% block menu %}
           {% endblock%}
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{% url 'logout'%}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Đăng xuất
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->
    <!--RSidebar-->
    <nav class="Rsidebar close" >
        <div style="background-color: aquamarine; border: 1px  solid blue; height: 80px; align-content: center; text-align: center;">
            <h3 class="logo">Hộp thư</h3>
        </div>
        <div class="menu-content">
            <!--Main menu-->
          <ul class="menu-items" id="MenuSideBar">
          </ul>
        </div>
        <!--End Submenu-->
      </nav>
       <!--End of RSidebar-->
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <!-- <label for="theme-toggle" class="theme-toggle"></label> -->
            <li class="nav-item dropdown show" id="dropdown">
                <button class="nav-link dropdown-toggle " data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="background: none;">
                    <a href="#" class="profile"></a>
                </button>
                <!-- <a "></a> -->
                <div class="dropdown-menu " style="text-align: center; text-align: center; order: 1; border-radius: 20px; padding: 10px; background-color: rgba(241, 240, 240, 0.753);">
                    <a class="dropdown-item" href="{% url 'admin_home' %}">Trang chủ</a>
                    <a class="dropdown-item" href="{% url 'student_views' %}">Sinh viên</a>
                    <a class="dropdown-item" href="{% url 'teacher_views' %}">Giảng viên</a>
                    <a class="dropdown-item" href="{% url 'course_views' %}">Khoá học</a>
                    <a class="dropdown-item" href="{% url 'notification_views' %}">Thông báo</a>
                  <a class="dropdown-item" id="logout" href="{% url 'logout'%}" style="color: red;">Đăng xuất</a>
                </div>
              </li>
        </nav>

        <!-- End of Navbar -->

        <main>
            {% block main%}
            {% endblock %}
        </main>

    </div>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/message.js' %}" type="module"></script>
    <script src="{% static 'js/Rsidebar.js'%}"></script>
</body>

</html>