{% extends 'Manager/course.html' %}
{% block main %}
<a href="{% url 'course_views'%}"><button style= "width: 80px;"type="button" class="btn btn-secondary"><i class='bx bx-left-arrow-alt' style="color: black;"></i></button></a>
<form method="post" action="{% url 'doEditCourse' course.ID%}">
  {% csrf_token %}
  <fieldset>
    <legend style="text-align: center;"><h4>Cập nhật khoá học</h4></legend>
    {% if message != None %}
    <h6 style="text-align: center; color: red;">{{message}}</h6>
    {% endif %}
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Tên môn học</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập vào tên môn học" name="name" value="{{course.Name}}">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Số tin chỉ</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Số tín chỉ" name="credits" value="{{course.Credits}}">
    </div>
    <div>
      <label for="exampleInputEmail1" class="form-label mt-4">Loại môn</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Loại" name="type" value="{{course.Type}}">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
  </fieldset>
</form>
{% endblock %}