{% extends 'Manager/base.html'%}
{% load static %}
{% block menu %}
    <li class = "active"><a href="{% url 'admin_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li ><a href="{% url 'student_views' %}"><i class='bx bxs-graduation' ></i>Sinh viên</a></li>
    <li><a href="{% url 'teacher_views' %}"><i class='bx bxs-user-account'></i>Giảng viên</a></li>
    <li><a href="{% url 'course_views' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'notification_views' %}"><i class='bx bxs-notification' ></i>Thông báo</a></li>
{% endblock%}
{% block main %}
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Trang Chủ</h1>
<ul class="menu-list">
<li>
    <i class='bx bxs-graduation'></i>
  <span class="menu-info">
    <h3>{{Student}}</h3>
    <p>Số sinh viên</p>
  </span>
</li>
<li>
    <i class='bx bxs-group' ></i>
    <span class="menu-info">
      <h3>{{Teacher}}</h3>
      <p>Số giảng viên</p>
    </span>
</li>
<li>
  <i class='bx bxs-book' ></i>
  <span class="menu-info">
    <h3>{{Course}}</h3>
    <p>Số khoá học</p>
  </span>
</li>
</ul>
<div class="bottom-data-list">
     <div class="member-list">
        <div class="member-list-header">
          <i class='bx bxs-user-detail'></i>
          <h3>Danh sách quản trị viên</h3>
          <i class='bx bxs-bookmark-star' ></i>
        </div>
        <table>
           <thead>
             <tr> 
                <th>Họ và tên</th>
                <th>Mã số sinh viên</th>
                <th>Nhiệm vụ</th>
             </tr>
           </thead>
           <tbody>
             <tr>
              <td>
                <img src="{% static 'images/ndkProfile.jpg'%}" alt="">
                <p>Nguyễn Đăng Khoa</p> 
              </td>
               <td>2211618</td>
               <td><span class="task-todo backend">Back-end</span></td>
             </tr>
             <tr>
              <td>
                <img src="{% static 'images/ndkhProfile.jpg'%}" alt="">
                <p>Nguyễn Đăng Khoa</p> 
              </td>
               <td>2211620</td>
               <td><span class="task-todo frontend">Front-end</span></td>
             </tr>
             <tr>
              <td>
                <img src="{% static 'images/hcmut.png'%}" alt="">
                <p>Nguyễn Trần Bảo Khoa</p> 
              </td>
               <td>2211610</td>
               <td><span class="task-todo frontend">Front-end</span></td>
             </tr>
             <tr>
              <td>
                <img src="{% static 'images/profileImage.png'%}" alt="">
                <p>Nguyễn Anh Khoa</p> 
              </td>
               <td>2211614</td>
               <td><span class="task-todo database">Database</span></td>
             </tr>
             <tr>
              <td>
                <img src="{% static 'images/profileImage.png'%}" alt="">
                <p>Ngô Đình Anh Khoa</p> 
              </td>
               <td>2211609</td>
               <td><span class="task-todo database">Database</span></td>
             </tr>
           </tbody>
        </table>
     </div>
     <div class="todo-list">
      <div class="member-list-header">
        <i class='bx bxs-note' ></i>
        <h3>Nhiệm vụ</h3>
        <i class='bx bx-plus' ></i>
      </div>
      <ul class="task-list-todo">
      <li class="backend">
        <div class="task-title-todo">
          <i class='bx bxs-check-circle' ></i>
          <p>Xây dựng Admin Views, Student Views, Teacher Views</p>
        </div>
        <i class='bx bx-dots-vertical' ></i>
      </li>
      <li class="database">
        <div class="task-title-todo">
          <i class='bx bxs-check-circle' ></i>
          <p>Xây dựng API và Login Required</p>
        </div>
        <i class='bx bx-dots-vertical' ></i>
      </li>
      <li class="frontend">
        <div class="task-title-todo">
          <i class='bx bxs-check-circle' ></i>
          <p>Làm giao diện cho Login Views </p>
        </div>
        <i class='bx bx-dots-vertical' ></i>
      </li>
      <li class="frontend">
        <div class="task-title-todo">
          <i class='bx bxs-check-circle' ></i>
          <p>Làm giao diện cho Admin Views, Student Views, Teacher Views </p>
        </div>
        <i class='bx bx-dots-vertical' ></i>
      </li>
      <li class="backend">
        <div class="task-title-todo">
          <i class='bx bxs-check-circle' ></i>
          <p>Thiết Lập Authentication, Xây dựng Admin Views</p>
        </div>
        <i class='bx bx-dots-vertical' ></i>
      </li>
      <li class="database">
        <div class="task-title-todo">
          <i class='bx bxs-check-circle' ></i>
          <p>Xây dựng và thiết kế Database</p>
        </div>
        <i class='bx bx-dots-vertical' ></i>
      </li>
      </ul>
    </div>
</div>
{% endblock %}
