{% extends 'Manager/student.html'%}
{% block main %}
<a href="{% url 'student_views'%}"><button style= "width: 80px;"type="button" class="btn btn-secondary"><i class='bx bx-left-arrow-alt' style="color: black;"></i></button></a>
<h2 style="text-align: center;">Thông tin sinh viên</h2>
<hr style="border: 2px solid black;">
<div>
<h6>Mã số sinh viên:  {{student.ID}}</h6>
<h6>Họ và tên:  {{student.Name}}</h6>
<h6>Địa chỉ Email:  {{student.Email}}</h6>
<h6>Ngày tháng năm sinh:  {{student.Date}}</h6>
<h6>Ngành học: {{student.Major}}</h6>
<h6>Năm vào: {{student.Year}}</h6>
<h6>Điểm trung bình tích luỹ: {{student.GPA}}</h6>
<h6>Số tín chỉ tích luỹ: {{student.Credits}}</h6>
{% endblock%}