{% extends 'Manager/base.html'%}
{% block menu %}
    <li><a href="{% url 'admin_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li class = "active" ><a href="{% url 'student_views' %}"><i class='bx bxs-graduation' ></i>Sinh viên</a></li>
    <li><a href="{% url 'teacher_views' %}"><i class='bx bxs-user-account'></i>Giảng viên</a></li>
    <li><a href="{% url 'course_views' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'notification_views' %}"><i class='bx bxs-notification' ></i>Thông báo</a></li>
{% endblock%}

{% block main %}
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Danh Sách Sinh Viên</h1>
<style>
  th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 1px solid #dfdfdf;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .data-header{
    border-left: 1px solid #dfdfdf;
  }
</style>
{% if List != None %}
<table class="table table-hover" style="border: 1px #dfdfdf solid; border-collapse: collapse; ">
  <thead>
    <tr class="table-primary" >
      <th class = "data-header" scope="col">Mã số sinh viên</th>
      <th class = "data-header" scope="col">Họ và tên</th>
      <th class = "data-header" scope="col">Email</th>
      <th class = "data-header" scope="col">Ngày sinh</th>
      <th class = "data-header" scope="col">Ngành</th>
      <th class = "data-header" scope="col">Năm vào</th>
      <th class = "data-header" scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody>
    {% for item in List%}
    <tr class="table-light">
      <td class="data-recording">{{item.ID}}</td>
      <td class="data-recording">{{item.Name}}</td>
      <td class="data-recording">{{item.Email}}</td>
      <td class="data-recording">{{item.Date}}</td>
      <td class="data-recording">{{item.Major}}</td>
      <td class="data-recording">{{item.Year}}</td>
      <td class="data-recording"><span>
        <button type="button" class="btn btn-info"> <a href="{% url 'stdinfo' item.ID %}"><i class='bx bxs-info-circle' style="color: white;"></i></a></button>
        <button type="button" class="btn btn-success"><a href="{% url 'editstd' item.ID%}"><i class='bx bxs-edit-alt' style="color: white;"></i></a></button>
        <button type="button" class="btn btn-danger"><i class='bx bxs-trash-alt' style="color: white ;" data-bs-toggle="modal" data-bs-target="#mymodal{{item.ID}}"></i></button>
       
      </span></td>
    </tr>
    <div class="modal" id = "mymodal{{item.ID}}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="color: red;">Xoá sinh viên</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-weight: bolder;">Bạn có chắc chắn muốn xoá sinh viên {{item.Name}} không ?</p>
          </div>
          <div class="modal-footer">
            <form action="{% url 'doDelStd' item.ID%}">
              <button type="submit" class="btn btn-danger">Chắc chắn</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
<div style="display: flex; justify-content: center;">
  <button type="button" class="btn btn-primary"><a href="{% url 'addstd'%}" style = "color: white;"><i class='bx bx-list-plus' ></i> Thêm sinh viên</a></button>
</div>
{% else %}
<table class="table table-hover" style="border: 1px #dfdfdf solid; border-collapse: collapse; ">
  <thead style="padding-left: 10px;">
      <tr class="table-primary">
        <th class = "data-header" scope="col">Mã số sinh viên</th>
        <th class = "data-header" scope="col">Họ và tên</th>
        <th class = "data-header" scope="col">Email</th>
        <th class = "data-header" scope="col">Ngành</th>
        <th class = "data-header" scope="col">GPA</th>
        <th class = "data-header" scope="col">Hành động</th>
      </tr>
  </thead>
  <tbody style="padding-left: 10px;">
    <tr class="table-light">
      <td colspan="7" class="data-recording" style="height: 40px;"></td>
    </tr>
  </tbody>
</table>
<div style="display: flex; justify-content: center;"><button type="button" class="btn btn-primary"><a href="{% url 'addstd'%}" style = "color: white;"><i class='bx bx-list-plus' ></i> Thêm sinh viên</a></button></div>
{% endif%}
{% endblock %}