{% extends 'Manager/base.html'%}
{% block menu %}
    <li ><a href="{% url 'admin_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li ><a href="{% url 'student_views' %}"><i class='bx bxs-graduation' ></i>Sinh viên</a></li>
    <li class = "active"><a href="{% url 'teacher_views' %}"><i class='bx bxs-user-account'></i>Giảng viên</a></li>
    <li><a href="{% url 'course_views' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'notification_views' %}"><i class='bx bxs-notification' ></i>Thông báo</a></li>
    <li><a href="{% url 'feedback_views' %}"><i class='bx bxs-bell' ></i></i>Phản hồi</a></li>
{% endblock%}

{% block main %}
<h1 style="text-align: center;"> Danh sách giảng viên</h1>
<table class="table table-hover" style="border: 2px black solid; border-collapse: collapse; ">
  <style>
     th, td{
        border: 2px black solid;
     }
  </style>
  <thead style="text-align: center;">
    <tr class="table-active">
      <th scope="col">Mã số giảng viên</th>
      <th scope="col">Tên giảng viên</th>
      <th scope="col">Email</th>
      <th scope="col">Trình độ</th>
      <th scope="col">Chuyên ngành</th>
      <th scope="col">Khoa</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody style="text-align: center;" style="border: 2px black solid;">
    <tr class="table-active">
      <td>2211618</td>
      <td>Nguyễn Đăng Khoa</td>
      <td>khoa47245@gmail.com</td>
      <td>Thạc sĩ</td>
      <td>Kỹ thuật phần mềm</td>
      <td>Khoa học và kĩ thuật máy tính</td>
      <td><span>
        <button type="button" class="btn btn-info"> <a href="#"><i class='bx bxs-info-circle' style="color: white;"></i></a></button>
        <button type="button" class="btn btn-success"><a href="#"><i class='bx bxs-edit-alt' style="color: white;"></i></a></button>
        <button type="button" class="btn btn-danger"><a href="#"><i class='bx bxs-trash-alt' style="color: white;"></i></a></button>
       
      </span></td>
    </tr>
    <tr class="table-active" >
      <td colspan="7"><button type="button" class="btn btn-primary"><a href="#" style = "color: white;"><i class='bx bx-list-plus' ></i> Thêm giảng viên</a></button></td>
    </tr>
  </tbody>
</table>
{% endblock %}