{% extends 'Manager/base.html'%}
{% block menu %}
    <li ><a href="{% url 'admin_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li ><a href="{% url 'student_views' %}"><i class='bx bxs-graduation' ></i>Sinh viên</a></li>
    <li class = "active"><a href="{% url 'teacher_views' %}"><i class='bx bxs-user-account'></i>Giảng viên</a></li>
    <li><a href="{% url 'course_views' %}"><i class='bx bxs-book'></i>Khoá học</a></li>
    <li><a href="{% url 'notification_views' %}"><i class='bx bxs-notification' ></i>Thông báo</a></li>
{% endblock%}

{% block main %}
{% if List != None %}
<h1 style="text-align: center;"> Danh sách giảng viên</h1>
<table class="table table-hover" style="border: 2px black solid; border-collapse: collapse; ">
  <style>
     th, td{
        border: 2px black solid;
     }
  </style>
  <thead style="text-align: center;">
    <tr class="table-active">
      <th class = "data-header" scope="col">Mã số giảng viên</th>
      <th class = "data-header" scope="col">Họ và tên</th>
      <th class = "data-header" scope="col">Email</th>
      <th class = "data-header" scope="col">Trình độ</th>
      <th class = "data-header" scope="col">Chuyên môn</th>
      <th class = "data-header" scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody style="text-align: center;" style="border: 2px black solid;">
    {% for item in List %}
    <tr class="table-active">
      <td class="data-recording">{{item.ID}}</td>
      <td class="data-recording">{{item.Name}}</td>
      <td class="data-recording">{{item.Email}}</td>
      <td class="data-recording">{{item.Level}}</td>
      <td class="data-recording">{{item.Field}}</td>
      <td class="data-recording"><span>
        <button type="button" class="btn btn-info"> <a href="{% url 'teacherinfo' item.ID%}"><i class='bx bxs-info-circle' style="color: white;"></i></a></button>  
        <button type="button" class="btn btn-success"><a href="{% url 'editTeacher' item.ID %}"><i class='bx bxs-edit-alt' style="color: white;"></i></a></button>
        <button type="button" class="btn btn-danger"><i class='bx bxs-trash-alt' style="color: white ;" data-bs-toggle="modal" data-bs-target="#mymodal{{item.ID}}"></i></button>
       
      </span></td>
    </tr>
    <div class="modal" id = "mymodal{{item.ID}}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="color: red;">Xoá giảng viên</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <p style="font-weight: bolder;">Bạn có chắc chắn muốn xoá giảng viên {{item.Name}} không ?</p>
          </div>
          <div class="modal-footer">
            <form action="{% url 'doDelTeacher' item.ID%}">
              <button type="submit" class="btn btn-danger">Chắc chắn</button>
            </form>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <tr class="table-active" >
      <td colspan="7" class = "data-recording"><button type="button" class="btn btn-primary"><a href="{% url 'addteacher'%}" style = "color: white;"><i class='bx bx-list-plus' ></i> Thêm giảng viên</a></button></td>
    </tr>
  </tbody>
</table>

{% else %}
<table class="table table-hover" style="border: 2px black solid; border-collapse: collapse; ">
  <thead style="text-align: center;">
    <tr class="table-active">
      <tr class="table-active">
        <th class = "data-header" scope="col">Mã số giảng viên</th>
        <th class = "data-header" scope="col">Họ và tên</th>
        <th class = "data-header" scope="col">Email</th>
        <th class = "data-header" scope="col">Trình độ</th>
        <th class = "data-header" scope="col">Chuyên môn</th>
        <th class = "data-header" scope="col">Hành động</th>
      </tr>
    </tr>
  </thead>
  <tbody style="text-align: center;" style="border: 2px black solid;">
    <tr class="table-active">
      <td colspan="7" class="data-recording"> <h4>Danh sách không có giảng viên nào</h4></td>
    </tr>
    <tr class="table-active" >
      <td colspan="7" class="data-recording"><button type="button" class="btn btn-primary"><a href="{% url 'addteacher'%}" style = "color: white;"><i class='bx bx-list-plus' ></i> Thêm giảng viên</a></button></td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}