{% extends 'Teacher/base.html' %}
{% load static %}
{% block menu %}
    <li class = "active"><a href="{% url 'teacher_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
    <li><a href="{% url 'schedule' %}"><i class='bx bxs-calendar'></i>Lịch trình</a></li>
    <li><a href="{% url 'teacher_course' %}"><i class='bx bxs-user-account'></i>Khoá học</a></li>
    <li><a href="{% url 'score' %}"><i class='bx bxs-book'></i>Nhập điểm</a></li>
    <li><a href="{% url 'notification' %}"><i class='bx bx-bell'></i>Thông báo</a></li>
{% endblock%}

{% block main %}
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Trang Chủ</h1>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<h1 style=" font-size: 20px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Xin chào <span style="color: #017cad;">{{teacher.Name}}</span></h1>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<span style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #58585b; font-size: 22px; ">Thông Tin Cơ Bản</span>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<ul class="student-info" style="color: #58585b; padding-left: 10px;">
    <li class="item-menu"> <strong>Mã số giảng viên: </strong> {{teacher.ID}}</li>
    <li class="item-menu"><strong>Họ và tên:</strong> {{teacher.Name}}</li>
    <li class="item-menu"><strong>Email:</strong> {{teacher.Email}}</li>
</ul>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<span style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #58585b; font-size: 22px; ">Thông Tin Giảng Viên</span>
<hr style="margin-top: 10px; margin-bottom: 10px;">
<ul class="student-info" style="color: #58585b; padding-left: 10px;">
    <li class="item-menu"> <strong>Trình độ: </strong> {{teacher.Level}}</li>
    <li class="item-menu"><strong>Chuyên môn:</strong> {{teacher.Field}}</li>
</ul>

{% endblock %}