{% extends 'Teacher/base.html' %}
{% load static %}
{% block menu %}
<li ><a href="{% url 'teacher_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
<li><a href="{% url 'schedule' %}"><i class='bx bxs-calendar'></i>Lịch trình</a></li>
<li><a href="{% url 'teacher_course' %}"><i class='bx bxs-user-account'></i>Khoá học</a></li>
<li><a href="{% url 'score' %}"><i class='bx bxs-book'></i>Nhập điểm</a></li>
<li class = "active" ><a href="{% url 'notification' %}"><i class='bx bx-bell'></i>Thông báo</a></li>
{% endblock%}

{% block main %}
<style>
  p {
    font-family:'Courier New', Courier, monospace;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    width: 600px;
    padding: 8px;
    background-color: #dfdfdf;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b;">Thông báo</h1>
<div>
  {% if course != None %}
  {% for item in course %}
  {% for  it in item.Class %}
  <p>
    <a style="color: #007493 ; " href="url 'content' item.Course.ID it.ID " target="_blank">{{item.Course.Name}}({{item.Course.ID}})_{{Teacher.Name}}_{{it.ID}}</a>
  </p>
  {% endfor %}
  {% endfor %}
  {% else %}
  <h3 style="text-align: center;"> Hiện tại không có khoá học nào</h3>
  {% endif %}
</div>
{% endblock %}