{% extends 'Teacher/base.html' %}
{% load static %}
{% block menu %}
<li ><a href="{% url 'teacher_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
<li class = "active"><a href="{% url 'schedule' %}"><i class='bx bxs-calendar'></i>Lịch trình</a></li>
<li><a href="{% url 'teacher_course' %}"><i class='bx bxs-user-account'></i>Khoá học</a></li>
<li><a href="{% url 'score' %}"><i class='bx bxs-book'></i>Nhập điểm</a></li>
<li><a href="{% url 'notification' %}"><i class='bx bx-bell'></i>Thông báo</a></li>
{% endblock%}

{% block main %}
<style>
  th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 1px solid #dfdfdf;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .data-header{
    border-left: 1px solid #dfdfdf;
  }
</style>
<h1 style=" font-size: 30px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b; text-align: center;">Lịch Trình Giảng Dạy</h1>

{% if Schedule != None %}
{% for item in Schedule %}
<h1 style=" font-size: 25px ;font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 500; margin-left: 10px; color: #39393b;">{{item.Course.ID}} - {{item.Course.Name}}</h1>
<table class="table table-hover" style="margin-top: 10px;">
    <thead>
      <tr class="table-primary">
        <th scope="col">Lớp</th>
        <th scope="col">Thứ</th>
        <th scope="col">Tiết</th>
        <th scope="col">Giờ</th>
        <th scope="col">Phòng</th>
      </tr>
    </thead>
    <tbody>
      {% for it in item.Class %}
      <tr class="table-light">
        <td>{{it.ID}}</td>
        <td>{{it.Time.Day}}</td>
        <td>{{it.Time.Period}}</td>
        <td>{{it.Time.Start}}-{{it.Time.End}}</td>
        <td>{{it.Classroom.Building}}-{{it.Classroom.Room}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
{% else %}
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Lớp</th>
      <th scope="col">Thứ</th>
      <th scope="col">Tiết</th>
      <th scope="col">Giờ</th>
      <th scope="col">Phòng</th>
      <th scope="col">Tuần Học</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
       <td colspan="6" style="height: 40px;"></td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}