{% extends 'Teacher/base.html' %}
{% load static %}
{% block menu %}
<li ><a href="{% url 'teacher_home' %}"><i class='bx bxs-home'></i>Trang chủ</a></li>
<li class = "active"><a href="{% url 'schedule' %}"><i class='bx bxs-calendar'></i>Lịch trình</a></li>
<li><a href="{% url 'teacher_course' %}"><i class='bx bxs-user-account'></i>Khoá học</a></li>
<li><a href="{% url 'score' %}"><i class='bx bxs-book'></i>Nhập điểm</a></li>
<li><a href="{% url 'notification' %}"><i class='bx bx-bell'></i>Thông báo</a></li>
{% endblock%}

{% block main %}
<style>
    th, td {
      border: 2px solid black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Lịch Trình Giảng Dạy</h1>
<hr>
{% if Schedule != None %}
{% for item in Schedule %}
<h4 style=" font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{item.Course.ID}}-{{item.Course.Name}}</h4>
<hr>
<table class="table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Lớp</th>
        <th scope="col">Thứ</th>
        <th scope="col">Tiết</th>
        <th scope="col">Giờ</th>
        <th scope="col">Phòng</th>
      </tr>
    </thead>
    <tbody>
      {% for it in item.Class %}
      <tr class="table-light">
        <td>{{it.ID}}</td>
        <td>{{it.Time.Day}}</td>
        <td>{{it.Time.Period}}</td>
        <td>{{it.Time.Start}}-{{it.Time.End}}</td>
        <td>{{it.Classroom.Building}}-{{it.Classroom.Room}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
{% else %}
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Lớp</th>
      <th scope="col">Thứ</th>
      <th scope="col">Tiết</th>
      <th scope="col">Giờ</th>
      <th scope="col">Phòng</th>
      <th scope="col">Tuần Học</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
       <td colspan="6"><h3 style="text-align: center;"> Không có lịch trình giảng dạy nào </h3></td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}