{% extends 'Teacher/score.html'%}
{% block main %}
<ul class="student-info" style="color: #58585b; padding-left: 10px;">
  <li class="item-menu"> <strong>Môn : </strong> {{course.Name}}&nbsp;({{course.ID}})</li>
  <li class="item-menu"><strong>Lớp : </strong> {{class.ID}}</li>
</ul>
{% if student_list != None%}
<style>
  th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left: 1px solid #dfdfdf;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .data-header{
    border-left: 1px solid #dfdfdf;
  }
</style>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Mã số sinh viên</th>
      <th scope="col">Tên sinh viên</th>
      <th scope="col">Điểm Bài tập</th>
      <th scope="col">Điểm Bài tập lớn</th>
      <th scope="col">Điểm Thi giữa kì</th>
      <th scope="col">Điểm Thi cuối kì</th>
      <th scope="col">Điểm Tổng kết</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody>
    {% for student in student_list %}
    <tr class="table-light">
      <form action="{% url 'scoring' student.Student.ID Course Class%}" method="post" id="submit">
        {% csrf_token %}
        <th scope="row">{{student.Student.ID}}</th>
        <td>{{student.Student.Name}}</td>
        <td>
          <input type="number" value="{{student.Grade.Excercise_Grade}}" style="text-align: center;" name="excercise">
        </td>
        <td>
          <input type="number" value="{{student.Grade.Assignment_Grade}}" style="text-align: center;" name="assignment">
        </td>
        <td>
          <input type="number" value="{{student.Grade.MidTerm_Grade}}" style="text-align: center;" name="midterm">
        </td>
        <td>
          <input type="number" value="{{student.Grade.FinalTerm_Grade}}" style="text-align: center;" name="finalterm"> 
        </td>
        <td>{{student.Grade.Final_Grade}}</td>
        <td><button type="submit" class="btn btn-info" style="width: 90px; height: 40px; background-color: #017cad; color: white; border-radius: 15px; border: 1px solid #dfdfdf; margin-bottom: 10px;">Xác nhận</button></td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div style="display: flex; justify-content: center;"><button type="submit" class="btn btn-info" style="width: 130px; height: 40px; background-color: #017cad; color: white; border-radius: 15px; border: 1px solid #dfdfdf; margin-bottom: 10px;" id="submitAll">Xác nhận tất cả</button></div>
<script>
    const submit = document.querySelector('#submitAll')
    submit.addEventListener('click', ()=>{
        const submits = document.querySelectorAll('#submit')
        submits.forEach( item => {
            item.submit()
        })
    })
</script>
{% else %}
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Mã số sinh viên</th>
      <th scope="col">Tên sinh viên</th>
      <th scope="col">Điểm Bài tập</th>
      <th scope="col">Điểm Bài tập lớn</th>
      <th scope="col">Điểm Thi giữa kì</th>
      <th scope="col">Điểm Thi cuối kì</th>
      <th scope="col">Điểm Tổng kết</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td colspan="8" style="height: 40px;"></td>
   </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}